@{
    Layout = "_NormalLayout";
    ViewBag.Title = "无权限";
}
<body >
    <div class="container-fluid row">
        <h1>无权限</h1>
        <h2><a href="@Url.Action("Login","Home",new { area="Admin"})">点击这里</a></h2>
    </div>
</body>

